<main class="p-5">
	<h1>CSS practice projects</h1>
	{{>divider}}
	<nav>
		<ol>
			<li><a href="/Slack">Slack</a></li>
			<li><a href="/Dashboard">dashboard</a></li>
			<li><a href="/Template-1">template-1</a></li>
			<li><a href="/Template-2">template-2</a></li>
			<li><a href="/Template-3">template-3</a></li>
			<li><a href="/Template-4">template-4</a></li>
			<li><a href="/Template-5">template-5</a></li>
			<li><a href="/Template-6">template-6</a></li>
			<li><a href="/Template-7">template-7</a></li>
		</ol>
	</nav>
</main>