<main class="p-5">
	<h1>CSS practice projects</h1>
	{{>divider}}
	<nav>
		<ol>
			<li><a href="/slack">slack</a></li>
			<li><a href="/dashboard">dashboard</a></li>
			<li><a href="/template-1">template-1</a></li>
			<li><a href="/template-2">template-2</a></li>
			<li><a href="/template-3">template-3</a></li>
			<li><a href="/template-4">template-4</a></li>
			<li><a href="/template-5">template-5</a></li>
			<li><a href="/template-6">template-6</a></li>
			<li><a href="/template-7">template-7</a></li>
		</ol>
	</nav>
</main>